$navbar-height: 53px;
$colorbar-bottom: 188px;

$headerbar-height: 50px;

$innerWidth: 1380px;

$button-radius: 3px;
$border-radius: 5px;

$element-size: 34px;

$gap-size: 12px;

$font-family: "Source Sans Pro";
$code-family: "IBM Plex Mono";

// $button-radius: 12px;